[src/Thready.API/Migrations/*.cs]
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0051.severity = none

[*.cs]
# Instance fields are camelCase and start with _
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style
